@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

:root {
    --color-dark-1: #0B0223;
    --color-dark-2: #3C354F;
    --color-dark-3: rgba(11, 2, 35, 0.10);
    --color-dark-4: #534C64;
    --gradient-1: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    --gradient-2: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.apply-max-width {
    max-width: 90rem;
    margin-left: auto;
    margin-right: auto;
}

.color-dark-1 {
    color: #0B0223;
}

.apply-gradient-text {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.title {
    font-weight: 700;
    text-align: center;
    font-size: 3rem;
}

.subtitle {
    font-weight: 400;
    text-align: center;
}

/* cascade */
body {
    font-family: Work Sans;
}

/* navbar */
.nav-section {
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.3rem 0;
}

.header-logo {
    display: flex;
    gap: 1.1rem;
    justify-content: center;
    align-items: center;
}

.header-text {
    text-align: center;
    font-size: 2.8rem;
    font-weight: 700;
}

.header-text-g {
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.nav-link {
    text-decoration: none;
    color: var(--color-dark-2);
    font-weight: 500;
    font-size: 1.125rem;
}

.nav-group {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 1.2rem;
    border-radius: 8px;
    background-color: var(--color-dark-3);
}

.nav-group-text {
    font-size: 1.125rem;
    margin-right: 1.5rem;
}

.nav-group-icon:not(:last-child) {
    margin-right: 1rem;
}

/* banner */
.banner-section {
    background-image: url('/images/Group 14.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-info {
    text-transform: uppercase;
}

.banner-info h1 {
    font-weight: 600;
    font-size: 3rem;
}

.banner-info span {
    font-weight: 800;
    font-size: 6rem;
}

.banner-group {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    margin-top: 1.5rem;
    margin-bottom: 2.5rem;
}

.banner-group-item {
    display: flex;
    gap: 0.75rem;
    align-items: center;
}

.banner-btn-group {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

.banner-btn {
    text-decoration: none;
    text-transform: uppercase;
    padding: 1.3rem 2.5rem;
    border-radius: 48px;
    color: white;
    font-size: 1.25rem;
    font-weight: 600;
}

.banner-btn-1 {
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
}

.banner-btn-2 {
    background-color: #4EC5F7;
}

/* online games */
.online-games {
    padding-top: 7.5rem;
}

.online-games-subtitle {
    margin-top: 1rem;
    margin-bottom: 3rem;
}

.img-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
}

.img-item {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.img-desc {
    font-weight: 500;
    font-size: 1.25rem;
    color: var(--color-dark-4);
}

/* play games */
.play-games {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 7.5rem;
    padding-bottom: 8rem;
    margin-bottom: 7.5rem;
}

.play-games-img-2 {
    position: relative;
    bottom: -270px;
    left: -180px;
}

.play-games-title {
    text-align: left;
    margin-left: -10px;
    border: 1px solid black;
}

.play-games-subtitle {
    text-align: left;
    margin-top: 1.5rem;
    line-height: 30px
}

/* profile-buttons */
.buttons-section {
    background: var(--gradient-2);
}

.buttons-container {
    display: flex;
    flex-wrap: wrap;
    gap: 3.5rem;
    align-items: center;
    justify-content: center;
    padding-top: 7.5rem;
    padding-bottom: 7.5rem;
}

.buttons-item {
    text-decoration: none;
    color: var(--color-dark-1);
}

.buttons-info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap:10px;
    border-radius: 50px;
    background: #FFF;
    padding: 10px 20px;
    transition: all .3s;
    cursor: pointer;
    border: 1px solid transparent;
}

.buttons-info:hover {
    border: 1px solid #FF42A5;
    border-radius: 50px;
    color: #FF42A5;
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.buttons-info:active {
    transform: translateY(-2px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

/* footer */
.footer-section {
    background-color: var(--color-dark-1);
}

.white {
    color: white;
}

.footer {
    padding-top: 7.5rem;
    padding-bottom: 7.5rem;
}

.footer-links-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.foot-navs {
    display: flex;
    gap:60px;
}

.foot-nav {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
}

.foot-icons {
    display: flex;
    gap: 40px;
    margin-bottom: 20px;
}

.foot-more {
    display: flex;
    gap:60px;
}

.foot-more .foot-nav{
    color: rgba(255, 255, 255, 0.60);
    font-size: 16px;
    font-weight: 500;
}

.foot-end {
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    margin-top: 1.75rem;
}


@media screen and (max-width: 425px) {
    html {
        font-size: 55%;
    }

    /* navbar */
    .nav-section {
        padding-top: 40px;
        box-shadow: none;
    }

    .header-container {
        flex-direction: column;
    }

    .header-logo {
        gap: 0;
        margin-left: -20px;
        margin-bottom: 30px;
    }

    .header-img {
        transform: scale(0.5);
    }

    .header-text {
        margin-left: -10px;
    }

    .nav {
        flex-direction: column;
        gap: 30px;
    }

    /* banner */
    .banner-section {
        margin: 20px;
        background-position: bottom;
    }

    .banner {
        flex-direction: column-reverse;
    }

    .banner-img {
        width: 100%;
    }

    .banner-info {
        padding: 38px 0px 32px;
    }
}