@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

:root {
    --color-dark-1: #0B0223;
    --color-dark-2: #3C354F;
    --color-dark-3: rgba(11, 2, 35, 0.10);
    --color-dark-4: #534C64;
    --gradient-1: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    --gradient-2: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.apply-max-width {
    max-width: 90rem;
    margin-left: auto;
    margin-right: auto;
}

.color-dark-1 {
    color: #0B0223;
}

.apply-gradient-text {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.title {
    font-weight: 700;
    text-align: center;
    font-size: 3rem;
}

.subtitle {
    font-weight: 400;
    text-align: center;
}

/* cascade */
body {
    font-family: Work Sans;
}

/* navbar */
.nav-section {
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.3rem 0;
}

.header-logo {
    display: flex;
    gap: 1.1rem;
    justify-content: center;
    align-items: center;
}

.header-text {
    text-align: center;
    font-size: 2.8rem;
    font-weight: 700;
}

.header-text-g {
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.nav-link {
    text-decoration: none;
    color: var(--color-dark-2);
    font-weight: 500;
    font-size: 1.125rem;
    transition: .3s all;
}

.nav-link:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    background-color: #F948B2;
    color: #FFF;
    padding: 5px;
    border-radius: 5px;
}

.nav-link:active {
    transform: translateY(-2px);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.nav-group {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 1.2rem;
    border-radius: 8px;
    background-color: var(--color-dark-3);
}

.nav-group-text {
    font-size: 1.125rem;
    margin-right: 1.5rem;
}

.nav-group-icon {
    transition: all .3s;
}

.nav-group-icon:not(:last-child) {
    margin-right: 1rem;
}

.nav-group-icon:hover {
    transform: rotate(20deg);
    transition: center center;
}

.nav-group-icon:active {
    transform: rotate(40deg);
    transition: center center;
}

/* banner */
.banner-section {
    background-image: url('/images/Group 14.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-info {
    text-transform: uppercase;
}

.banner-info h1 {
    font-weight: 600;
    font-size: 3rem;
}

.banner-info span {
    font-weight: 800;
    font-size: 6rem;
}

.banner-group {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    margin-top: 1.5rem;
    margin-bottom: 2.5rem;
}

.banner-group-item {
    display: flex;
    gap: 0.75rem;
    align-items: center;
}

.banner-btn-group {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

.banner-btn {
    text-decoration: none;
    text-transform: uppercase;
    padding: 1.3rem 2.5rem;
    border-radius: 48px;
    color: white;
    font-size: 1.25rem;
    font-weight: 600;
    transition: all .3s;
}

.banner-btn-1 {
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
}

.banner-btn-2 {
    background-color: #4EC5F7;
}

.banner-btn:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.banner-btn:active {
    transform: translateY(-2px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

/* online games */
.online-games {
    padding-top: 7.5rem;
}

.online-games-subtitle {
    margin-top: 1rem;
    margin-bottom: 3rem;
}

.img-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
}

.img-item {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.img-item-image-container {
    position: relative;
    cursor: pointer;
    overflow: hidden;
    border-radius: 25px;
}

.img-play-icon {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.75);
    height: 100%;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    transition: all .35s;
    border: 5px solid transparent;
    border-radius: 25px;
}

.img-play-icon-svg {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.img-item-image-container:hover .img-play-icon {
    visibility: visible;
    opacity: 100%;
    border: 5px solid #FF42A5;

}

.img-desc {
    font-weight: 500;
    font-size: 1.25rem;
    color: var(--color-dark-4);
}

/* play games */
.play-games {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 19rem;
    padding-top: 7.5rem;
    padding-bottom: 8rem;
    margin-bottom: 7.5rem;
}

.play-games-img-container {
    position: relative;
}

.play-games-img-2 {
    position: absolute;
    bottom: -18%;
    right: -19%;
}

.play-games-title {
    text-align: left;
}

.play-games-subtitle {
    text-align: left;
    margin-top: 1.5rem;
    line-height: 1.8rem;
}

/* profile-buttons */
.buttons-section {
    background: var(--gradient-2);
}

.buttons-container {
    display: flex;
    flex-wrap: wrap;
    gap: 3.5rem;
    align-items: center;
    justify-content: center;
    padding-top: 7.5rem;
    padding-bottom: 7.5rem;
}

.buttons-item {
    text-decoration: none;
    color: var(--color-dark-1);
}

.buttons-info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap:10px;
    border-radius: 50px;
    background-color: #FFF;
    padding: 0.625rem 1.25rem;
    transition: all .3s;
    cursor: pointer;
    border: 1px solid transparent;
}

.buttons-info:hover {
    border: 1px solid #FF42A5;
    border-radius: 50px;
    color: #FF42A5;
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.buttons-info:active {
    transform: translateY(-2px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

/* footer */
.footer-section {
    background-color: var(--color-dark-1);
}

.white {
    color: white;
}

.footer {
    padding-top: 7.5rem;
    padding-bottom: 7.5rem;
}

.footer-links-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.foot-navs {
    display: flex;
    gap:3.75rem;
}

.foot-nav {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    font-size: 1.125rem;
    transition: all .3s;
    padding: 5px;
}

.foot-nav:hover {
    transform: skewX(15deg);
    background-color: #F948B2;
    color: #FFF;    
}

.foot-nav:active {
    transform: skewX(7.5deg);
}

.foot-icons {
    display: flex;
    gap: 2.5rem;
    margin-bottom: 1.25rem;
}

.foot-icon {
    transition: all .3s;
}

.foot-icon:hover {
    transform: scale(2);
    transition: center center;
}

.foot-icon:active {
    transform: scale(1.5);
    transition: center center;
}

.foot-more {
    display: flex;
    gap:3.75rem;
}

.foot-more .foot-nav{
    color: rgba(255, 255, 255, 0.60);
    font-size: 1rem;
    font-weight: 500;
}

.foot-end {
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    margin-top: 1.75rem;
}

.foot-end-1, .foot-end-2{
    display: inline;
}


@media screen and (max-width: 425px) {
    html {
        font-size: 55%;
    }

    .title, .subtitle {
        text-align: center;
    }

    /* navbar */
    .nav-section {
        padding-top: 40px;
        box-shadow: none;
    }

    .header-container {
        flex-direction: column;
    }

    .header-logo {
        gap: 0;
        margin-left: -20px;
        margin-bottom: 30px;
    }

    .header-img {
        transform: scale(0.5);
    }

    .header-text {
        margin-left: -10px;
    }

    .nav {
        flex-direction: column;
        gap: 30px;
    }

    /* banner */
    .banner-section {
        margin: 20px;
        background-position: bottom;
    }

    .banner {
        flex-direction: column-reverse;
    }

    .banner-img {
        width: 100%;
    }

    .banner-info {
        padding: 32px 0px 24px;
    }

    /* online games */
    .online-games {
        margin: 20px;
        text-align: center;
    }

    .img-container {
        grid-template-columns: 1fr;
    }

    .img-item {
        margin-top: 2.5rem;
    }

    /* play games */
    .play-games {
        flex-direction: column-reverse;
        position: relative;
        margin: 20px;
        gap: 20px;
    }

    .play-games-text-container {
        max-width: 240px;
    }

    .play-games-img-1{
        width: 80%;
    }

    .play-games-img-2 {
        width: 38%;
        bottom: -21%;
        right: 3%;
    }

    .play-games-subtitle {
        margin: 3rem 0;
    }

    /* profile-buttons */
    .buttons-section {
        padding-left: 20px;
        padding-right: 20px;
    }
    .buttons-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr); 
        column-gap: 20px;
        row-gap: 60px;
    }

    .buttons-img {
        width: 50%;
    }

    /* footer */
    .footer .header-logo {
        margin-bottom: 0; /* reset margin */
    }

    .foot-navs, .foot-icons{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 25px;
        justify-items: center;
    }

    .foot-icons{
        row-gap: 50px;
    }

    .foot-more {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 25px;
        justify-items: center;
    }

    .foot-end {
        margin-top: 5rem;
    }

    .foot-end-1, .foot-end-2{
        display: block;
    }
}